div.peer_session-inactive .peer_session-active-toggled {
  display: none;
}

div.peer_session-active .peer_session-inactive-toggled {
  display: none;
}

div.hide-active-peers .peers-row.border-active {
  display: none;
}

div.hide-available-peers .peers-row.border-inactive {
  display: none;
}

button.peer_session-add,
button.peer_session-live {
	text-transform: uppercase;
	height: 42px;
  font-family: "Archivo Narrow";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: -15px;
}

div.peers-row {
  border-left: 4px solid transparent;
}
