<div class="tab-content">
  <div class="tab-pane show active" id="policies" role="tabpanel" aria-labelledby="tab-pee">
    {% include "peerctl/tool-v2/peering-templates/policies.html" %}
  </div>

  <div class="tab-pane" id="email-templates" role="tabpanel" aria-labelledby="email-templates">
    {% include "peerctl/tool-v2/peering-templates/email-templates.html" %}
  </div>

  <div class="tab-pane" id="device-templates" role="tabpanel" aria-labelledby="device-templates">
    {% include "peerctl/tool-v2/peering-templates/device-templates.html" %}
  </div>
</div>
