div.peer_session-inactive .peer_session-active-toggled {
  display: none;
}

div.peer_session-active .peer_session-inactive-toggled {
  display: none;
}

div.hide-active-peers .peers-row.border-active {
  display: none;
}

div.hide-available-peers .peers-row.border-inactive {
  display: none;
}

button.peer_session-add,
button.peer_session-live {
	text-transform: uppercase;
	height: 42px;
  font-family: "Archivo Narrow";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: -15px;
}

.peers-row {
  border-right: 1px solid var(--clr-border-400);
}

.peers-row + .peers-row {
  margin-top: 4rem;
}

.other-exchange-points {
  border: 1px solid var(--clr-border-400);
  border-right: none;
}

div.peers-row .secondary.row {
  border-top: 1px solid var(--clr-border-400);
}

.peers-row .other-exchange-points .secondary.row,
div.peers-row .secondary.row .secondary.row {
  border-color: transparent;
}

div.peers-row .border-show {
  border-left: 4px solid;
}

div.peers-row.border-inactive .border-show {
  border-color: var(--clr-primary-500);
}

div.peers-row.border-active .border-show {
  border-color: var(--clr-accent-400);
}

.secondary .property .field [data-field="peeringdb"] .icon {
  padding-left: 0.5ch;
  background-color: var(--clr-accent-400);
}

.secondary .property .field [data-field="peeringdb"] a{
  color: var(--clr-accent-400);
}

[data-theme="light"] .secondary .property .field [data-field="peeringdb"] a{
  color: blue;
}

[data-theme="light"] .secondary .property .field [data-field="peeringdb"] .icon {
  background-color: blue;
}

.compact-list div.compact-row {
  padding: 3px;
  margin-left: 15px;
}

.compact-list div.compact-row input+span {
 margin-left: 0.25rem;
}

.peering-templates-nav .nav-link {
  color: var(--foreground);
}

.port-info .toolbar-field {
  border: 1px solid var(--clr-border-200);
}

.port-info .toolbar-field span.icon:not(.inactive) {
  background-color: var(--clr-accent-400);
}

.toggle-mutual-locations {
  border: none;
  background-color: transparent;
}

[data-component=network_settings] input:disabled {
  opacity: 0.66;
}

[data-component=network_settings] .header-img {
  display: inline;
  height: 25px;
}

.input-group .peeringdb-pull {
	height: 48px;
}

.peeringdb-pull span {
  transform: scaleX(-1);
}

.input-group .peeringdb-pull span {
	position: relative;
  top: -4px;
}

.asn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  margin-top: 1rem;
  width: fit-content;
}

@media (min-width: 700px) {
  .asn-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .asn-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.asn-container .asn-grid-item {
  display: flex;
  align-items: center;
}

.asn-container .asn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--th-bg);
}

.asn-container a {
  color: inherit;
  text-decoration: none;
}

.asn-container a:hover {
  text-decoration: underline;
}

.asn-container a .icon{
  margin-right: 1ch;
}

.asn-container .selected {
  color: var(--clr-accent-400);
}

.asn-container .selected .icon {
  background-color: var(--clr-accent-400);
}
