{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}
{% block bootstrap3_title %}{% block title %}Peerctl{% endblock %}{% endblock %}
{% block bootstrap3_extra_head %}
    <!-- PEERCTL MEDIA -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:100,200,300,400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "legacy/peerctl.site.css" %}" />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
{% endblock %}
{% block bootstrap3_content %}

<div class="container-fluid stretch">
  <div class="header">
    <div class="container">
    {% include "peerctl/tool/header.site.html" %}
    </div>
  </div>
  <div class="site content">
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <div class="container">
    {% include "peerctl/tool/footer.site.html" %}
    </div>
  </div>
</div>


{% endblock %}
{% block bootstrap3_extra_script %}
<script type="text/javascript">

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


$(document).ready(function() {
  $('#contactreq').click(function() {
    var form = $('#contact')
    var name = form.find('[name="name"]').val()
    var msg = form.find('[name="msg"]').val()
    var email =form.find('[name="email"]').val()
    if(!name || !msg || !email) {
      alert("All fields are required to be filled out, thank you.")
      return;
    }
    $.ajax({
      method: "POST",
      url: "/site/contact/",
      data: {
        name: name,
        msg: msg,
        email: email
      },
      success: function() {
        alert("Your message has been submitted. Thank you for reaching out to us.")
        form.find('textarea,input').val("");
      }
    })
  });
});
</script>

{% include "peerctl/tool/analytics.html" %}
{% endblock %}


