    <div class="buttons">
    <span class="dropdown" style="position:relative">
    <a
      id="btn-{{ component }}-menu"
      class="btn btn-default btn-xs"
      aria-haspopup="true"
      aria-expanded="false"
      data-toggle="dropdown"
    >
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-right"
      aria-labeled-by="btn-{{ component }}-menu"
      data-peerctl="{{ component }}_menu"
    >
    </ul>
    </span>
    </div>
