<div data-peerctl="component_net_port">
<h4 class="title">Ports{% include "peerctl/tool/component-menu.html" with component="port" %}</h4>
<div class="body">
  <ul class="nav nav-tabs" role="tab-list">
    <li role="presentation" class="active">
      <a aria-controls="port-list" role="tab" data-target="#port-list" data-toggle="tab">List</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="port-list">
      <!-- MANAGE PORTS LIST TEMPLATE -->
      <table
        data-peerctl="list_net_port"
        data-sort-container="tbody"
        data-sort-row=".item"
        data-batch-select=".ix_name"
        class="table table-striped table-condensed">
        <thead>
          <tr class="item">
            <th>&nbsp;</th>
            <th class="sortable-button" data-sort-target=".ix_name" data-sort-initial="asc">Exchange
              <span class="asc glyphicon glyphicon-chevron-down"></span>
              <span class="desc glyphicon glyphicon-chevron-up"></span>
              <small>Policy</small>
            </th>
            <th>
            <span class="sortable-button" data-sort-target=".speed">
                Speed
                <span class="asc glyphicon glyphicon-chevron-down"></span>
                <span class="desc glyphicon glyphicon-chevron-up"></span>
            </span>
            <span class="subhead sortable-button" data-sort-target=".peers">Peers
              <span class="asc glyphicon glyphicon-chevron-down"></span>
              <span class="desc glyphicon glyphicon-chevron-up"></span>
            </span>
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody class="api-list-body"></tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane inactive" id="port-add">
      <form data-peerctl="form_net_port_add">
        <div class="form-group">
          <label for="port-name">Name</label>
          <input type="text" class="form-control" name="name" id="port-name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="port-type">Type</label>
          <select class="form-control" name="type" id="port-type"></select>
        </div>
        <div class="form-group">
          <label for="port-description">Description</label>
          <input type="text" class="form-control" name="description" id="port-description" placeholder="Description">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" role="api-submit">Add Device</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="hidden">

  <!-- MANAGE PORTS ITEM TEMPLATE -->

  <table>
    <tr class="item" data-peerctl="list_net_port_item">
      <td>&nbsp;</td>
      <td>
        <div class="ix_name" name="ix_name"></div>
        <div class="policy subcol" name="policy"></div>
      </td>
      <td>
        <div class="speed" name="speed"></div>
        <div class="peers subcol" name="peers"></div>
      </td>
      <td class="right">
        <button type="button" class="btn btn-default btn-xs" data-action="options"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      </td>
    </tr>
  </table>


</div>
</div>
