{% load static i18n %}
<div class="row marg-top-md">
  <div class="col-xs-12">
  </div>
</div>
<div class="row marg-top-md">

  <div class="col-xs-6">
    <div class="row">
      {% include "peerctl/tool/stats.html" %}
    </div>
  </div>

  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5>{% trans "Support" %}</h5>
        <div class="links">
        {% block footer_extra_b_links %}{% endblock %}
        </div>
        {% block footer_extra_b %}{% endblock %}
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5>{% trans "Contact us" %}</h5>
        <div class="links">
        <!-- fixme: link -->
        <a class="interactive" data-peerctl="btn_feature_request">{% trans "Feature request" %}</a>
        <!-- fixme: link -->
        {% block footer_extra_c_links %}{% endblock %}
        </div>
        {% block footer_extra_c %}{% endblock %}
      </div>
    </div>
  </div>
</div>
<div class="row center marg-top-s">
  <div class="col-xs-12 copyright">
    {% block footer_copyright %}&copy; 2017 - 2021 20c. All rights reserved.{% endblock %}
  </div>
  <div class="col-xs-12 version">
    {% block footer_version %}version {{ settings.version }}{% endblock %}
  </div>
  <div class="marg-top-md"></div>
</div>
