{% extends "peerctl/base.site.html" %}
{% load static i18n util bootstrap3 %}

{% block content %}

<!-- ABOUT US -->

<div style="position:relative">
<div class="gradient-bs"></div>
<div class="container">
<div class="row aboutus">
  <div class="col-xs-12 col-sm-7">
    <img class="img-responsive" src="{% static "legacy/peerctl-screenshot.png" %}">
  </div>
  <div class="col-xs-12 col-sm-5">
    <a name="aboutus"></a>
    <h1>
    {% blocktrans %}
    <strong>Peerctl</strong> is designed with astonishingly simple peering management in mind.
    {% endblocktrans %}
    </h1>
    <p class="info">
    {% blocktrans %}
    We help users establish and maintain peering relationships with one-touch ease. Using data from PeeringDB for accuracy, Peerctl offers software-defined peering (SDP), and configuration generation.
    {% endblocktrans %}
    </p>
    <a href="/login" class="btn btn-default signup">{% trans "Sign In With Your PeeringDB Account" %}</a>
  </div>
</div>
</div>
</div>
<!-- END ABOUT US -->

<!-- KEY FEATURES -->
<div class="container keyfeatures">
  <div class="row section">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8 center">
      <h1><a name="features"></a>{% trans "Key Features" %}</h1>
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>
  <div class="row feature-border"><div class="col-xs-12 col-sm-2"></div><div class="col-xs-12 col-sm-8 border"></div><div class="col-xs-12 col-sm-2"></div></div>
  <div class="row feature">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-3 name">{% trans "Simplicty" %}</div>
    <div class="col-xs-12 col-sm-5 info">
    {% blocktrans %}<strong>Peering has never been so easy.</strong> Intuitive one-click provisioning minimizes the effort of peering requests and encourages peering globally.{% endblocktrans %}
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>

  <div class="row feature-border"><div class="col-xs-12 col-sm-2"></div><div class="col-xs-12 col-sm-8 border"></div><div class="col-xs-12 col-sm-2"></div></div>
  <div class="row feature">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-3 name">{% trans "Accuracy" %}</div>
    <div class="col-xs-12 col-sm-5 info">
    {% blocktrans %}With data from PeeringDB, your data will always be up to date and right at your fingertips.{% endblocktrans %}
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>

  <div class="row feature-border"><div class="col-xs-12 col-sm-2"></div><div class="col-xs-12 col-sm-8 border"></div><div class="col-xs-12 col-sm-2"></div></div>
  <div class="row feature">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-3 name">{% trans "Robust Management" %}</div>
    <div class="col-xs-12 col-sm-5 info">
    {% blocktrans %}Choose from our library or easily customize your own templates for devices, policies, and email.{% endblocktrans %}
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>

  <div class="row feature-border"><div class="col-xs-12 col-sm-2"></div><div class="col-xs-12 col-sm-8 border"></div><div class="col-xs-12 col-sm-2"></div></div>
  <div class="row feature">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-3 name">{% trans "Analytics Done Right" %}</div>
    <div class="col-xs-12 col-sm-5 info">
    {% blocktrans %}Peering insight as you’ve only imagined. Get full access to detailed statistics, see your peering request history, and enjoy accurate audit logging.{% endblocktrans %}
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>

  <p class="center login">
    <span>{% blocktrans %}Ready for <strong>one-touch peering</strong>?{% endblocktrans %}</span>
    <a href="/login">{% trans "Sign in with your PeeringDB account to get started." %}</a>
  </p>

</div>

<!-- END KEY FEATURES -->

<!-- PRICING -->
<a name="pricing"></a>
<div class="pricing">
<div class="container">
  <div class="row section">
    <div class="col-xs-12 center">
      <h1>{% trans "Our simple pricing model" %}</h1>
      <p class="info center">
      {% blocktrans %}
      Looking to test the waters? <strong>Peer with up to 99 sessions for FREE!</strong>
      {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="row prices">
    <div class="col-xs-12 center">
      <!-- SMALL PACKAGE -->
      <div class="price smallprice">
        <div class="top">
          <h1>{% trans "Sessions" %}:</h1>
          <span class="sessions">100 - 499</span>
        </div>
        <div class="middle">
          <h1>{% trans "Monthly" %}:</h1>
          <span class="price">$199</span>
        </div>
        <div class="bottom">
          <span class="offer">{% trans "One month free" %}</span>
          <h1>{% trans "Annually" %}:</h1>
          <span class="strike">$2,388</span> <span class="price-annu">$1,999</span>
        </div>
      </div>
      <!-- MID PACKAGE -->
      <div class="price mid">
        <div class="top">
          <h1>{% trans "Sessions" %}:</h1>
          <span class="sessions">500 - 1,499</span>
        </div>
        <div class="middle">
          <h1>{% trans "Monthly" %}:</h1>
          <span class="price">$399</span>
        </div>
        <div class="bottom">
          <span class="offer">{% trans "One month free" %}</span>
          <h1>{% trans "Annually" %}:</h1>
          <span class="strike">$4,788</span> <span class="price-annu">$3,999</span>
        </div>
      </div>
      <!-- BIG PACKAGE -->
      <div class="price big">
        <div class="top">
          <h1>{% trans "Sessions" %}:</h1>
          <span class="sessions">1,500 - 4,999</span>
        </div>
        <div class="middle">
          <h1>{% trans "Monthly" %}:</h1>
          <span class="price">$599</span>
        </div>
        <div class="bottom">
          <span class="offer">{% trans "One month free" %}</span>
          <h1>{% trans "Annually" %}:</h1>
          <span class="strike">$7,188</span> <span class="price-annu">$5,999</span>
        </div>
      </div>

      <p class="info">
      {% blocktrans %}
      <strong>Peering with 5,000 sessions or more?</strong>
      <a href="mailto:info@peerctl.com">Contact us</a> for details on unlimited peering.
      {% endblocktrans %}
      </p>

      <a class="btn btn-default signup" href="/login">{% trans "Sign up now" %}</a>

    </div>
  </div>
</div>
</div>
<!-- END PRICING -->

<!-- GET IN TOUCH -->
<a name="contactus"></a>
<div class="container getintouch">
  <div class="row">
    <div class="col-xs-12 col-sm-3"></div>
    <div class="col-xs-12 col-sm-6">
      <form id="contact">
        <h1>{% trans "Get in touch" %}</h1>
        <div class="form-group">
          <label for="name">{% trans "Name" %}</label>
          <input type="text" class="form-control" name="name">
        </div>

        <div class="form-group">
          <label for="email">{% trans "Email address" %}</label>
          <input type="text" class="form-control" name="email">
        </div>

        <div class="form-group">
          <label for="msg">{% trans "Message" %}</label>
          <textarea class="form-control" name="msg"></textarea>
        </div>

        <button type="button" class="btn btn-default" id="contactreq">{% trans "Send message" %}</button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-3"></div>
  </div>
</div>
<!-- END GET IN TOUCH -->

{% endblock %}
