{% load i18n static %}
    <table class="table table-borderless list-table small"
      data-api-base="{% url "peerctl_api:device_template-list" asn=selected_asn %}"
      data-template="template_list">

      <tbody class="list-body"></tbody>

      <tbody class="templates"><
        <tr data-template="row">
          <td data-field="name" class="highlight"></td>
          <td data-field="controls" class="right">
            <a class="button col btn m-1" data-action="edit_template">
              <span class="icon peerctl icon-edit"></span>
            </a>
            <a
              class="button col btn m-1"
              data-api-action="{id}"
              data-api-callback="remove"
              data-confirm="Remove template?"
              data-api-method="DELETE"
            >
              <span class="icon peerctl icon-delete"></span>
            </a>
          </td>
        </tr>
        <tr data-template="row" class="secondary">
          <td colspan="2" class="property p-0">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 field">
                  <span data-field="type"></span>
                  <span data-field="default" class="highlight bold ms-0"></span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

<form
  data-api-base="{% url "peerctl_api:device_template-list" asn=selected_asn %}"
  data-api-method="post"
  data-api-action=""
  data-template="form_template">

  <div class="row mb-3">
    <div class="col-6" data-api-submit="yes">
      <label for="name" class="form-label">{% trans "Name" %}</label>
      <input class="form-control" type="text" id="name" name="name">
    </div>
    <div class="col-6" data-api-submit="yes">
      <label for="type" class="form-label">{% trans "Type" %}</label>
      <select class="form-control"
        data-api-base="{% url "peerctl_api:device_template-list" asn=selected_asn  %}"
        data-drf-name="type"
        data-api-load="yes"
        data-null-option=";-- Select Type --"
        data-load-type="drf-choices"
        id="type"
        name="type">
      </select>
    </div>
  </div>



  <div class="row mb-3">
    <div class="col-12" data-api-submit="yes">
      <label for="body" class="form-label">{% trans "Body" %}</label>
      <textarea class="form-control template-editor" name="body" id="body"></textarea>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <label for="preview" class="form-label">{% trans "Preview" %}</label>
      <div class="row mx-0 position-relative">
        <textarea class="form-control template-editor"
          data-api-preview-default="{% url "peerctl_api:device_template-preview-default" asn=selected_asn %}"
          name="preview" id="preview"
        >
        </textarea>
        <div class="loading-shim" style="display: none;"></div>
      </div>
    </div>
  </div>

  <div class="row mb-3" data-api-submit="yes">
    <div class="col-12">
      <label for="default" class="form-label">{% trans "Set as default" %}
        <input type="checkbox" name="default" id="default">
      </label>
    </div>
  </div>



  <div class="row">
    <div class="col-6">
      <a class="edit-toggled btn secondary btn-secondary">
        <div class="row align-items-center">
          <div class="col label pe-0">{% trans "Cancel" %}</div>
          <div class="col-auto">
            <span class="icon icon-cancel"></span>
          </div>
        </div>
      </a>
    </div>
    <div class="right col-6">
      <button class="submit primary btn">
        <span class="label">{% trans "Save" %}</span>
        <span class="icon icon-edit"></span>
      </button>
    </div>
  </div>

</form>
