{% load i18n static %}
<div class="tool" data-component="email_templates">

  <div data-element="menu" class="row marg-top-lg">
    <div class="col-5 d-flex align-items-center">
      <div class="row">
        <h4>{% trans "Templates" %}</h4>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col d-flex align-items-center">
          <h4 data-element="editor_title">{% trans "Create new email template" %}</h4>
        </div>
        <div class="col-md-auto ms-auto">
        <button type="button" class="primary btn d-flex" data-element="button_new_email_template">
          <div class="row align-items-center">
            <div class="col label pe-0">New Email Template</div>
            <div class="col-auto">
              <span class="icon icon-add"></span>
            </div>
          </div>
        </button>
        </div>
      </div>
    </div>
  </div>
  <div data-element="body" class="row">
    <div data-element="list_container" class="col-5"></div>
    <div data-element="editor" class="col-7 create controls">
    </div>
  </div>

  <div class="templates">
    <div data-template="menu">
    </div>
    {% include "peerctl/v2/tool/peering-templates/email-template-editor.html" %}
  </div>

</div>
