{% load i18n %}

<div data-peerctl="bulk_email_preview">
  <p>
  {% blocktrans %}
  Your email will be dispatched to the following peers - <span id="replyto"></span> will be set as the reply-to address.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans %}Only peers with at least one  <span id="role"></span> contact point available in their PeeringDB entry were included.
  {% endblocktrans %}
  </p>

  <div id="recipients" class="scroll-300">
    <p>Found <span id="count">0</span> contacts</p>
  </div>
</div>

<table
  data-peerctl="bulk_email_preview_table"
  data-sort-container="tbody"
  data-sort-row=".item"
  class="table table-triped table-condensed">
  <thead>
    <tr class="item">
      <th
        class="sortable-button"
        data-sort-target=".email">{% trans "Email" %}</th>
      <th
        class="sortable-button"
        data-sort-target=".asn">{% trans "ASN" %}</th>
      <th
        class="sortable-button"
        data-sort-target=".net_name"
        data-sort-initial="asc">{% trans "Peer" %}</th>
    </tr>
  </thead>
  <tbody class="api-list-body">
  </tbody>
</table>

<table>
  <tr class="item" data-peerctl="bulk_email_preview_row">
    <td class="email" name="email"></td>
    <td class="asn" name="asn"></td>
    <td class="net_name" name="net_name"></td>
  </tr>
</table>

<form data-peerctl="form_bulk_email">
  <p>
    {% blocktrans %}
    Contact all or a subset of <strong><span id="netname">this network</span></strong>'s peers via email. Peers that don't have their
    appropriate contact point set in their peeringdb entry will be ignored.
    {% endblocktrans %}
  </p>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="recipients">{% trans "Recipients" %}</label>
        <select class="block-input" name="recipients" id="recipients">
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="role">{% trans "Contact Point" %}</label>
        <select class="block-input" name="role" id="role">
          <option value="policy" selected>{% trans "Policy" %}</option>
          <option value="technical">{% trans "Technical" %}</option>
          <option value="maintenance">{% trans "Maintenance" %}</option>
          <option value="abuse">{% trans "Abuse" %}</option>
          <option value="noc">{% trans "NOC" %}</option>
          <option value="sales">{% trans "Sales" %}</option>
          <option value="public relations">{% trans "Public Relations" %}</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="replyto">{% trans "Reply-To Address" %}</label>
        <select class="block-input" name="replyto" id="replyto">
          <option value="policy" data-net-contact="policy"></option>
          <option value="technical" data-net-contact="technical"></option>
          <option value="maintenance" data-net-contact="maintenance"></option>
          <option value="abuse" data-net-contact="abuse"></option>
          <option value="noc" data-net-contact="noc"></option>
          <option value="sales" data-net-contact="sales"></option>
          <option value="public relations" data-net-contact="public relations"></option>
          <option value="user">{{ request.user.email }}</option>
          <option value="noreply">{{ settings.emails.noreply }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="subject">{% trans "Subject" %}</label>
    <input class="block-input" type="text" name="subject" id="subject">
  </div>
  <div class="form-group">
    <label for="body">{% trans "Content" %}</label>
    <textarea class="block-input emltmpl-body" name="body" id="body"></textarea>
  </div>
</form>
