{% load static i18n %}
<div data-peerctl="component_net_emltmpl" class="template-editor">
<div class="title">
  <div class="container">
    <h1>{% trans "Email Templates" %}</h1>
  </div>
</div>
<div class="body container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 template-list editor-left" id="emltmpl-list">
      <h5>{% trans "Live Templates" %}</h5>
      <div data-peerctl="list_net_emltmpl"
           data-sort-container=".api-list-body"
           data-sort-row=".template-item">
        <div class="hidden sortable-button" data-sort-target=".name" data-sort-initial="asc">Name</div>
        <div class="api-list-body"></div>
        <div class="api-list-empty">{% trans "No live templates." %}</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 editor-right" id="emltmpl-edit" style="display:none">
    </div>

    <div class="col-xs-12 col-sm-6 editor-right" id="emltmpl-add">
      <h5>{% trans "Create new email template" %}</h5>
      <form data-peerctl="form_net_emltmpl_add">
        <div class="form-group">
          <label for="emltmpl-type" class="inline-label">{% trans "Template Type" %}:</label>
          <select class="inline-input" name="type" id="emltmpl-type"></select>
        </div>
        <div class="form-group">
          <label for="emltmpl-name">{% trans "Template Name" %}</label>
          <input type="text" class="block-input" name="name" id="emltmpl-name">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-4">
              <label for="emltmpl-description">{% trans "Email Body" %}</label>
            </div>
            <div class="col-xs-8 right input-tabs">
              <button type="button" class="input-tab active" role="editor">
                {% trans "Editor" %}
              </button>
              <button type="button" class="input-tab" role="preview">
                {% trans "Preview" %}
              </button>
            </div>
          </div>
          <textarea class="emltmpl-body" name="body" id="emltmpl-body"></textarea>
          <div class="preview" style="display:none;" id="emltmpl-preview"></div>
        </div>
        <div class="form-group">
          <button type="button" class="save" role="api-submit">{% trans "Add Template" %}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="hidden">

  <!-- POLICY EDITOR TEMPLATE -->

  <div class="row" data-peerctl="container_net_emltmpl_edit">
    <div class="col-xs-12">
      <form class="emltmpl-form">
        <h5>{% trans "Edit email template" %}</h5>
        <div class="form-group">
          <label for="emltmpl-type" class="inline-label">{% trans "Template Type" %}:</label>
          <select class="inline-input" name="type" id="emltmpl-type"></select>
        </div>
        <div class="form-group">
          <label for="emltmpl-name">{% trans "Template Name" %}</label>
          <input type="text" class="block-input" name="name" id="emltmpl-name">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-4">
              <label for="emltmpl-description">{% trans "Email Body" %}</label>
            </div>
            <div class="col-xs-8 right input-tabs">
              <button type="button" class="input-tab active" role="editor">
                {% trans "Editor" %}
              </button>
              <button type="button" class="input-tab" role="preview">
                {% trans "Preview" %}
              </button>
            </div>
          </div>
          <textarea class="emltmpl-body" name="body" id="emltmpl-body"></textarea>
          <div class="preview" style="display:none;" id="emltmpl-preview"></div>
        </div>
        <div class="form-group">
          <button type="button" class="cancel">{% trans "Cancel" %}</button>
          <button type="button" class="save" role="api-submit">{% trans "Save" %}</button>
        </div>


      </form>
    </div> <!-- /col -->
    <div class="col-xs-12 col-sm-6 ports">
    </div> <!-- /col -->
  </div> <!-- /row -->

  <!-- POLICY ITEM TEMPLATE -->

  <div class="template-item" data-peerctl="list_net_emltmpl_item">
    <div class="row">
    <div class="col-xs-10">
      <div class="main">
        <span class="name" name="name"></span>
        <span class="global" name="global">
          <span class="icon peer-request" style="display:none">
            <img src="{% static "legacy/md-swap.svg" %}">
          </span>
          <span class="icon peer-config-complete" style="display:none">
            <img src="{% static "legacy/md-checkmark-circle.svg" %}">
          </span>
          <span class="icon peer-session-live" style="display:none">
            <img src="{% static "legacy/md-radio-button-on.svg" %}">
          </span>
          <span class="type" name="type"></span>
        </span>
      </div>
      <div class="sub">
        <!-- fixme: what's this ?
        <span>{% trans "View Template" %}</span>
        -->
      </div>
    </div>
    <div class="col-xs-2 buttons right">
      <span class="icon interactive" data-action="delete_remote"><img src="{% static "legacy/md-trash.svg" %}"></span>
      <span class="icon interactive" data-action="edit"><img src="{% static "legacy/md-create.svg" %}"></span>
    </div>
    </div>
  </div>

</div>
</div>
