{% load i18n %}
<form data-peerctl="form_devicetmpl_view">
  <div class="form-group">
    <label for="component">{% trans "Template" %}</label>
    <select class="block-input" name="devicetmpl" id="template"></select>
  </div>
  <div class="form-group">
    <div class="non-field-errors"></div>
    <textarea class="block-input devicetmpl-preview" id="preview" readonly></textarea>
    <button type="button" class="big-button copy-to-clipboard">{% trans "Copy to clipboard" %}</button>
  </div>
</form>
