{% load static i18n %}
<div class="row marg-top-md">
  <div class="col-xs-6">
    <a href="/">
    <img
      src="{% static "legacy/peering-manager-logo-white.png" %}"
      alt="Peerctl"
      class="logo img-responsive"
    />
    </a>
  </div>

  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5>{% trans "Contact us" %}</h5>
        <div class="links">
        <a href="mailto:info@peerctl.com">Submit Feedback</a>
        <a href="mailto:info@peerctl.com">Media Inquiries</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5>&nbsp;</h5>
        <div class="links">
          <p>+1 (917) 521-5290</p>
          <a class="mailto" href="mailto:info@peerctl.com">info@peerctl.com</a>
          <div class="social">
            <a href="https://www.facebook.com/Peerctl/">
              <img src="{% static "legacy/facebook.svg" %}">
            </a>
            <a href="https://www.twitter.com/peerctl/">
              <img src="{% static "legacy/twitter.svg" %}">
            </a>
            <a href="https://www.linkedin.com/groups/5184855">
              <img src="{% static "legacy/linkedin.svg" %}">
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row center marg-top-s">
  <div class="col-xs-12 copyright">
    {% block footer_copyright %}&copy; 2017 - 2019 Peerctl. All rights reserved.{% endblock %}
  </div>
  <div class="marg-top-md"></div>
</div>
