{% load static i18n %}
{% block header %}
<div class="row marg-top-s">
  <div class="col-xs-12 col-sm-4">
    <a href="/">
    <img
      src="{% static "legacy/peering-manager-logo.png" %}"
      alt="Peerctl"
      class="logo img-responsive"
    />
    </a>
  </div>
  <div class="col-xs-12 col-sm-8">

    <div class="menu-tabs">
    <a class="menu-tab active" href="#aboutus">{% trans "About Us" %}</a>
    <a class="menu-tab" href="#pricing">{% trans "Pricing" %}</a>
    <a class="menu-tab" href="#contactus">{% trans "Contact Us" %}</a>
    <a class="menu-tab signup" href="/login">{% trans "Sign Up / Sign In" %}</a>
    </div>

    <div class="hidden">
    <span
      class="selected-target"
      data-peerctl="selected_target"
    >
      <h4><span class="name"></span><small class="sub"></small></h4>
    </span>
    </div>
  </div>
</div>
{% endblock %}
