{% load static i18n %}
<table
  class="table table-borderless"
  data-api-base="{% url "peerctl_api:network_search-detail" asn="asn" %}"
  data-template="list">
  <thead>
    <tr>
      <th></th>
      <th data-sort-target="name" class="sortable-button">{% trans "Internet exchange" %}</th>
    </tr>
  </thead>
  <tbody class="list-body">
  </tbody>
  <tbody>
    <tr>
      <td colspan="2" class="right">
        <button data-element="request_peering"><span class="icon fullctl icon-mail"></span><span class="label">{% trans "Request peering" %}</span></button>
      </td>
    </tr>
  </tbody>
  <tbody class="templates">
    <tr data-template="row">
      <td class="right"><input type="checkbox"></td>
      <td data-field="ix_name" class="highlight"></td>
    </tr>
  </tbody>
</table>
