{% load i18n static %}
<div
    class="marg-top-lg"
    data-api-load="yes"
    data-api-base="{% url "peerctl_api:port-list" asn=selected_asn %}"
    data-template="ix_list"
    >
    <div class="list-body">
    </div>

    <div class="templates">
        <div data-template="row" class="pad-top-lg">
            <div class="row ix-header" style="display:none;">
                <div class="col-12">
                    <h3><span data-field="ix_simple_name"></span><span data-field="ref_source"></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-md-3 secondary" data-element="ips">
                    <h5 data-field="ip4" class="highlight action"></h5>
                    <div data-field="ip6" class="small-info action"></div>
                </div>
                <div class="col-sm-7 col-md-9 secondary">
                    <div class="property">
                        <div class="field" style="display:block">
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div><span>{% trans "Speed" %}</span> <span data-field="speed"></span></div>
                                    <div><span>{% trans "Is RS Peer" %}</span> <span data-field="is_route_server_peer"></span></div>             
                                </div>
                                <div class="col-sm-6 col-md-2">
                                    <div><span>{% trans "Prefix 4" %}</span> <span data-field="maxprefix4"></span></div>
                                    <div><span>{% trans "Prefix 6" %}</span> <span data-field="maxprefix6"></span></div>             
                                </div>
                                <div class="col-sm-6 col-md-2">
                                    <div><span>{% trans "MTU" %}</span> <span data-field="mtu"></span></div>
                                    <div><span>{% trans "MD5" %}</span> <span data-field="md5"></span></div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div><span>{% trans "MAC-Address" %}</span> <span data-field="mac_address"></span></div>
                                    <div></div>
                                </div>
                                <div class="col-sm-12 col-md-1 right">
                                    <a class="button" data-action="edit"><span class="icon fullctl icon-edit"></span></a>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>