{% load static i18n %}
<div class="tool" data-component="peering_lists">
  <div data-element="menu"></div>
  <div data-element="body" style="position:relative">
  </div>
  <div class="templates">

    <!-- FORMS -->

    {% include "peerctl/v2/tool/peering-lists/form-md5.html" %}
    {% include "peerctl/v2/tool/peering-lists/form-request-peering.html" %}
    {% include "peerctl/v2/tool/peering-lists/device-config.html" %}

    <!-- PEERS TEMPLATE -->

    <div data-template="peers"
      data-api-base="{% url "peerctl_api:peer-list" asn=selected_asn port_pk=0 %}"
      data-api-action="">
      <div class="list-header marg-top-lg">
        <div class="row">
          <div data-sort-target="name" data-sort-initial="yes" class="col-12 list-th sortable-button selected-order-header-asc">{% trans "Name" %}</div>
        </div>
      </div>
      <div class="list-body marg-top-lg">
      </div>
      <div class="templates">

        <!-- PEERS: ROW TEMPLATE -->

        <div data-template="row" class="peers-row border-inactive marg-top-lg container-fluid">
          <div class="row pad-top-lg marg-bottom-lg">
            <div class="col-12">
              <span data-field="name" class="primary-row-name highlight"></span>
            </div>
          </div>

          <div class="row border-show">
            <div class="col">
              <div class="row secondary">
                <div class="col-xs-12 col-3">
                  <div class="property"><div class="field">
                  {% trans "ASN:" %}
                  <span data-field="asn"></span>
                  <button data-element="md5" class="primary btn | small"><span class="label">{% trans "MD5 Password" %}</span></button>
                  </div></div>
                </div>
                <div class="col-xs-12 col-2">
                  <div class="property"><div class="field">
                  {% trans "Prefix 4:" %}
                  <input data-field="info_prefixes4"
                    class="slim"
                    type="text"
                    data-api-action=""
                    data-api-method="put"
                    data-ip-version="4"
                    data-api-base="{% url "peerctl_api:peer-set-max-prefix" asn=selected_asn port_pk="port_pk" pk="peer_id" %}">
                  </div></div>
                </div>
                <div class="col-xs-12 col-2">
                  <div class="property"><div class="field">
                  {% trans "Scope:" %}<span data-field="scope"></span>
                  </div></div>
                </div>
                <div class="col-xs-12 col-2">
                  <div class="property"><div class="field">
                  {% trans "Peering policy:" %}<span data-field="policy_general"></span>
                  </div></div>
                </div>
                <div class="col-xs-12 col-3">
                  <div class="property"><div class="field">
                  {% trans "Multiple locations:" %}<span data-field="policy_locations"></span>
                  </div></div>
                </div>
              </div>

              <div class="row secondary">
                <div class="col-xs-12 col-3">
                  <div class="property"><div class="field">
                  <span data-field="peeringdb"></span>
                  </div></div>
                </div>
                <div class="col-xs-12 col-2">
                  <div class="property"><div class="field">
                  {% trans "Prefix 6:" %}
                  <input data-field="info_prefixes6"
                    class="slim"
                    type="text"
                    data-api-action=""
                    data-api-method="put"
                    data-ip-version="6"
                    data-api-base="{% url "peerctl_api:peer-set-max-prefix" asn=selected_asn port_pk="port_pk" pk="peer_id" %}">

                  </div></div>
                </div>
                <div class="col-xs-12 col-2">
                  <div class="property"><div class="field">
                  {% trans "Type:" %}<span data-field="type"></span>
                  </div></div>
                </div>
                <div class="col-xs-12 col-2">
                  <div class="property"><div class="field">
                  {% trans "Ratio Req.:" %}<span data-field="policy_ratio"></span>
                  </div></div>
                </div>
                <div class="col-xs-12 col-3">
                  <div class="property"><div class="field">
                  {% trans "Contract Req.:" %}<span data-field="policy_contracts"></span>
                  </div></div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 port-list">

                </div>
              </div>

              <div class="other-exchange-points">
                <div class="row secondary">
                  <div class="col-3 row-gap">
                    <div class="property"><div class="transparent-field">
                      <button class="toggle-mutual-locations"><span class="icon neutral icon-caret-left"></span>{% trans "Other exchange points" %}</button>
                    </div></div>
                  </div>
                  <div class="col-9">
                    <div class="property">
                      <div class="transparent-field">
                        <button class="primary btn | small" data-element="request_peering">
                          <div class="row align-items-center">
                            <div class="col label pe-0">
                              {% trans "Request peering" %}
                            </div>
                            <div class="col-auto">
                              <span class="icon fullctl icon-mail"></span>
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mutual-locations indent-on">

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

   <!-- PORT LIST -->

    <div style="margin-top:-3px;" data-template="port_list" data-api-base="{% url "peerctl_api:peer-mutual-locations" asn=selected_asn port_pk="port_id" pk="peer_id" %}" data-api-action="">
      <div class="list-body"></div>
      <div class="list-no-data">No entries found</div>
      <div class="templates">
        <div data-template="row" class="row secondary">
          <div class="col-xs-12 col-3 indent-toggled">
            <button
              class="peer_session-add peer_session-inactive-toggled solid-inactive"
              data-api-base="{% url "peerctl_api:peer_session-list" asn=selected_asn port_pk="port_id" %}"
              data-api-method="post">{% trans "Add" %}</button>

            <button
              class="peer_session-live peer_session-active-toggled solid-active"
              data-api-base="{% url "peerctl_api:peer_session-detail" asn=selected_asn port_pk="port_id"  pk="peer_session_id" %}"
              data-confirm="{% trans "Remove this peering session?" %}"
              data-api-method="delete">{% trans "Live" %}</button>

            <span data-field="ix_name"></span>
          </div>
          <div class="col-xs-12 col-3">
            <div class="property"><div class="field">
            {% trans "IPv4:" %}
            <span data-field="ipaddr4"></span>

            <select
              data-api-base="/"
              data-api-method="put"
              data-api-load="yes"
              data-api-action="{% url "peerctl_api:peer_session-set-policy" asn=selected_asn port_pk="port_id" pk="peer_session_id" %}"
              class="peer_session-policy-4 peer_session-active-toggled"
              data-proxy-data=".port-policy-4"></select>
            </div></div>
          </div>
          <div class="col-xs-12 col-4">
            <div class="property"><div class="field">
            {% trans "IPv6:" %}
            <span data-field="ipaddr6"></span>

            <select
              data-api-base="/"
              data-api-method="put"
              data-api-load="yes"
              data-api-action="{% url "peerctl_api:peer_session-set-policy" asn=selected_asn port_pk="port_id" pk="peer_session_id" %}"
              class="peer_session-policy-6 peer_session-active-toggled"
              data-proxy-data=".port-policy-6"></select>
            </div></div>


          </div>
          <div class="col-xs-12 col-2 right">
            <div class="property"><div class="transparent-field">
            <button class="peer_session-active-toggled | secondary btn small" data-element="peer_session_device_config">
              <span class="icon fullctl icon-settings"></span>
              <span class="label">{% trans "Show Config" %}</span></button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>


    <!-- MENU TEMPLATE -->

    <div data-template="menu">

      <div id="port-settings" style="display:none">
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">{% trans "Policy IPv4" %}</label>
              <select
                class="form-control port-policy-4"
                data-api-base="{% url "peerctl_api:policy-list" asn=selected_asn %}"
                data-api-action="{% url "peerctl_api:port-set-policy" asn=selected_asn pk=0 %}"
                data-api-method="put"
                data-null-option="0;{% trans "Inherit Policy" %}"
                data-element="port_policy_4">
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">{% trans "Policy IPv6" %}</label>
              <select
                class="form-control port-policy-6"
                data-api-base="{% url "peerctl_api:policy-list" asn=selected_asn %}"
                data-api-action="{% url "peerctl_api:port-set-policy" asn=selected_asn pk=0 %}"
                data-api-method="put"
                data-null-option="0;{% trans "Inherit Policy" %}"
                data-element="port_policy_6">
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">{% trans "MAC Address" %}</label>
              <input type="text"
                class="form-control"
                data-api-base="{% url "peerctl_api:port-set-mac-address" asn=selected_asn pk="port_id" %}"
                data-api-method="put"
                name="mac_address"
                data-element="port_mac_address">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <input type="checkbox"
                class="form-check-input"
                data-api-base="{% url "peerctl_api:port-set-is-route-server-peer" asn=selected_asn pk="port_id" %}"
                data-api-method="put"
                name="is_route_server_peer"
                data-element="port_is_route_server_peer">
              <label class="form-check-label">{% trans "Route Server Peer" %}</label>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">{% trans "Device" %}</label>
              <select --data-api-load="yes"
                class="form-control"
                id="devices-list"
                data-api-base="{% url "proxies-api-devicectl-list" org_tag=request.org.slug %}"
                data-name-field="display_name"
                data-api-method="put"
                data-element="devicectl_device">
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">{% trans "Port" %}</label>
              <select
                class="form-control"
                data-name-field="display_name"
                data-null-option="0;-"
                data-api-base="{% url "peerctl_api:port-list-available-ports" asn=selected_asn pk=0 %}"
                data-api-action="{% url "peerctl_api:port-change-port" asn=selected_asn pk=0 %}"
                data-api-method="put"
                data-element="devicectl_port">
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="alert alert-info">
                {% blocktrans %}
                WARNING - changing the port will update the reference to the devicectl port
                for this peerctl port, moving all peering sessions in the process.
                {% endblocktrans %}
              </div>
            </div>
          </div>
      </div>


      <div class="row mt-4">

            <div class="toolbar-field col-auto py-0">
                <span class="me-2">
                  {% trans "Template" %}
                </span>
                <select class="secondary h-100 form-select" style="max-width: inherit;"
                  data-api-base="{% url "peerctl_api:device_template-list-available" asn=selected_asn %}"
                  data-element="port_device_template">
                </select>
            </div>

            <button class="secondary col-md-auto btn ms-3" data-element="device_config">
              <div class="row align-items-center">
                <div class="col label pe-0">Show config</div>
                <div class="col-auto">
                  <span class="icon icon-view-settings"></span>
                </div>
              </div>
            </button>
      </div>
      <div class="row marg-top-lg ixctl-controls">
        <div class="col-xs-12 col-4 right">
          <!--
          <button data-element="email_peers">{% trans "Email peers" %}</button>
          -->
        </div>
      </div>
    </div>

  </div>
</div>
