{% load i18n %}
<form data-api-base="{% url "peerctl_api:net-detail" asn=selected_asn %}" data-api-method="PUT" data-template="form">
<div class="controls" data-api-submit="yes">
  <div class="row mb-3">

    <div class="col-4 offset-4 text-center">
      Values
    </div>
    <div class="col-4 text-center">
      PeeringDB
    </div>

  </div>

  <div class="row mb-3">

    <!-- AS-SET -->

    <div class="col-4">
      <label class="form-label">{% trans "AS-SET" %}</label>
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="as_set_override" data-blank-as-null="yes" placeholder="{{ net.ref.irr_as_set_override }}">
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="as_set_peeringdb" data-blank-as-null="yes" value="{{ net.ref.irr_as_set }}" disabled>
    </div>

  </div>

  <div class="row mb-3">

    <!-- NETWORK TYPE -->

    <div class="col-4">
      <label class="form-label">{% trans "Network Type" %}</label>
    </div>

    <div class="col-4">
      <select
        data-blank-as-null="yes"
        data-element="select_net_type"
        class="form-control"
        data-api-base="{% url "peerctl_api:net-list" %}"
        data-load-type="drf-choices"
        data-null-option=";-- Select --"
        data-drf-name="network_type_override"
        name="network_type_override"
      >
      </select>
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="network_type_peeringdb" data-blank-as-null="yes" value="{{ net.ref.info_type }}" disabled>
      </select>
    </div>

  </div>

  <div class="row mb-3">

    <!-- MAX PREFIXES V4 -->

    <div class="col-4">
      <label class="form-label">{% trans "Max. prefix length v4" %}</label>
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="prefix4_override" data-type="int" placeholder="{{ net.ref.prefix4_override }}">
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="prefix4_peeringdb" data-type="int" value="{{ net.ref.info_prefixes4 }}" disabled>
    </div>

  </div>

  <div class="row mb-3">

    <!-- MAX PREFIXES V6 -->

    <div class="col-4">
      <label class="form-label">{% trans "Max. prefix length v6" %}</label>
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="prefix6_override" data-type="int" placeholder="{{ net.ref.prefix6_override }}">
    </div>

    <div class="col-4">
      <input type="text" class="form-control" name="prefix6_peeringdb" data-type="int" value="{{ net.ref.info_prefixes6 }}" disabled>
    </div>

  </div>

  <div>
    <div class="row mb-3">
      <div class="col-6">
          <button class="primary btn | small" type="button" data-element="save_network">
            <div class="row align-items-center">
              <div class="col label pe-0 ok">
                {% trans "Save network" %}
              </div>
              <div class="col-auto">
                <span class="icon fullctl icon-edit"></span>
              </div>
            </div>
          </button>
      </div>
      <div class="col-6 right">

          <button class="primary btn | small" data-element="export_network">
            <div class="row align-items-center">
              <div class="col label pe-0 ok">
                {% trans "Update PeeringDB" %}
              </div>
              <div class="col-auto">
                <span class="icon fullctl icon-logout"></span>
              </div>
            </div>
          </button>
      </div>
    </div>

  </div>
</div>
</form>
